<div class='container-fluid'>
    <header>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <a class="navbar-brand" href="#">View it</a>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Latest</a>
                    </li>
                    <li>
                        <a href="#">Browse</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>