<h3>
    Latest Movies
</h3>
<div class="movie-list" *ngIf="movies">
    <div class="row" *ngFor="let movie of movies">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="img-responsive img-rounded" src="{{movie.background_image}}" alt="not available">
                <div class="caption">
                    <h4>{{ movie.title }} | {{ movie.year }}</h4>
                    <p>{{movie.summary}}</p>
                    <div class="pull-right">
                        <span class="label label-info" *ngFor="let genre of movie.genres">{{genre}}</span>
                    </div>
                    <a href="#" class="btn btn-primary">Watch</a>
                </div>
            </div>
        </div>
    </div>
</div>