<h3>
    Latest Movies
</h3>
<div class="movie-list container-fluid" *ngIf="movies">
    <div class="row thumbnail" *ngFor="let movie of movies">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div [ngStyle]="{'background-image': 'url(' + movie.background_image + ')'}">
                        <div col="col-md-4">
                            <img class="img-responsive img-rounded " src="{{movie.medium_cover_image}} " alt="not available">
                        </div>
                        <div col="col-md-8">
                            <span class="label" *ngFor="let genre of movie.genres ">{{genre}}</span>
                        </div>
                    </div>
                    <span> {{ movie.title }} </span>
                    <span> ({{ movie.year }}) </span>
                    <span class="pull-right"> IMDB rating: {{movie.rating}}</span>
                </div>
            </div>
            <div class="pull-left">
                <span class="btn btn-primary glyphicon glyphicon-download-alt " aria-hidden="true ">&nbsp;Get</span>
                <span class="btn btn-primary glyphicon glyphicon-play " aria-hidden="true " (click)="playNow(movie.torrents)">
                    &nbsp;Play
                </span>

            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>{{movie.summary}}</p>
                </div>
            </div>
        </div>
    </div>
</div>